doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
    script(type="text/javascript", src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js")
    script(type="text/javascript", src="/javascripts/form-validator.js")
    script(type="text/javascript", src="/javascripts/sepa-mandate-generator.js")
    script(type="text/javascript", src="/javascripts/crew-id-manager.js")
  body
    div.header
      img.header--logo(src="https://crewmeister.com/images/logo_crewmeister_white.svg", alt="Logo")
    div.content
      block content
