extends layout

block content
  h1= title
  div Wir freuen uns, dass Sie sich für Crewmeister und die bequeme Zahlung per SEPA-Lastschrift entschieden haben. 
  div Bitte füllen Sie die folgenden Felder aus und klicken dann auf den orangenen Knopf "Lastschriftmandat erteilen". 
  form(id="sepa-mandate", method="post")
    div.input
      div.label <b>Name</b> des Zahlungspflichtigen (Kontoinhabers) / debtor name
      input(type="text", name="name", class="form--input")
    div.input
      div.label <b>Straße und Hausnummer</b> des Zahlungspflichtigen (Kontoinhabers) / debtor street and number
      input(type="text", name="address", class="form--input")
    div.input
      div.label <b>PLZ und Ort</b> des Zahlungspflichtigen (Kontoinhabers) / debtor postal code and city
      input(type="text", name="zip_city", class="form--input")
    div.input
      div.label <b>Land</b> des Zahlungspflichtigen (Kontoinhabers) / debtor country
      input(type="text", name="country", class="form--input")
    div.input
      div.label <b>IBAN</b> des Zahlungspflichtigen (Kontoinhabers) / debtor IBAN
      input(type="text", name="iban", class="form--input")
    div.input
      div.label <b>BIC</b> des Zahlungspflichtigen (Kontoinhabers) / debtor BIC
      input(type="text", name="bic", class="form--input")
    div.input
      input(type="checkbox", name="confirm", class="form--confirm--checkbox")
      span.label Ich bestätige die Erteilung des unten aufgeführten SEPA Lastschriftmandats.
    div.input
      div.label Datum
      input(type="text", name="date", class="form--input")
    div.input
      div.label Ort
      input(type="text", name="location", class="form--input")
    div.actions
      input(type="submit", class="form--submit--button", value="Lastschriftmandat erteilen")
    div.input
      textarea(name="sepaMandate", readonly="readonly", cols="120", rows="5", class="form--mandate--text")
      input(type="hidden", name="crewId")