extends layout

block content
  h1= title
  p Welcome to #{title}
  form(id="sepa-mandate", method="post")
    div.input
      div.label <b>Name</b> des Zahlungspflichtigen (Kontoinhabers) / debtor name
      input(type="text", name="name", class="form--input")
    div.input
      div.label <b>Straße und Hausnummer</b> des Zahlungspflichtigen (Kontoinhabers) / debtor street and number
      input(type="text", name="address", class="form--input")
    div.input
      div.label <b>PLZ und Ort</b> des Zahlungspflichtigen (Kontoinhabers) / debtor postal code and city
      input(type="text", name="zip_city", class="form--input")
    div.input
      div.label <b>Land</b> des Zahlungspflichtigen (Kontoinhabers) / debtor country
      input(type="text", name="country", class="form--input")
    div.input
      div.label <b>IBAN</b> des Zahlungspflichtigen (Kontoinhabers) / debtor IBAN
      input(type="text", name="iban", class="form--input")
    div.input
      div.label <b>BIC</b> des Zahlungspflichtigen (Kontoinhabers) / debtor BIC
      input(type="text", name="bic", class="form--input")
    div.input
      input(type="checkbox", name="confirm", class="form--input")
      span.label Hiermit erteile ich das unten aufgeführte SEPA-Lastschriftmandat.
    div.input
      div.label Datum
      input(type="text", name="date", class="form--input")
    div.input
      div.label Ort
      input(type="text", name="location", class="form--input")
    div.input
       textarea(name="sepaMandate", cols="40", rows="5")
    div.actions
      input(type="submit", value="Lastschriftmandat erteilen")
