body
  padding: 0px
  margin: 0px
  font: 18px "Helvetica Neue",Helvetica,Arial,sans-serif
  line-height: 1.42857
.header
  width: 100%
  background-color: rgba(255,148,25,0.85);
  height: 57px
.header--logo
  height: 15px
  display: block
  padding: 20px
a
  color: #00B7FF
.content
  margin: 20px

.error
  display: block;
  color: rgba(255,148,25,0.85);

div.input
  margin-top: 30px
input
  font-size: 18px
  padding: 4px
  width: 40em 
  font-family: "Courier New"
  
.form--confirm--checkbox
  width: 1em
  
.form--mandate--text
  font-size: 18px
  font-family: "Courier New"
  width: 40em

.form--submit--button
  color: #ffffff;
  cursor: pointer;
  font: 18px "Helvetica Neue",Helvetica,Arial,sans-serif
  background-color: rgba(255,148,25,0.85);
  line-height: 1.42857;
  padding: 6px 30px;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;